/* Calendar.css */
.mold {
  width: 715px;
  /* background-color: rgb(197, 242, 242); */
  display: flex; /* 요소를 가로 방향으로 배치 */
  position: relative;
}

.show-popup {
  width: 470px;
  height: 450px;
  display: inline-block;
  position: absolute;
  left: 470px;
  top: 28px;
  background-color: orange;
  opacity: 0.3;
  padding: 15px;
  border-radius: 7%;
}

.calendar {
  font-family: "IAMAPLAYER";
  display: inline-block;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/IAMAPLAYER.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  margin: 20px;
  width: 400px;
  height: 450px;
  background-color: white;
  padding: 15px;
}

.header {
  display: flex;
  color: orange;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.front {
  text-decoration: underline;
  padding: 10px 18px 10px;
  text-align: center;
  font-size: 12px;
  border-radius: 50%;
}

.end {
  padding: 20px 18px;
  text-align: center;
}

.circleA {
  width: 20px;
  font-size: 13px;
  border-radius: 100%;
  display: inline-block;
}

.day.empty {
  background-color: #f5f5f5;
}
